@model IEnumerable<AguasApp.Data.Entities.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />

<h1>Orders</h1>
<br />
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.OrderDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliverDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (this.User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </th>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliverDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lines)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>

            </tr>
        }
    </tbody>
</table>

