@using AguasApp.Data.Entities
@model ContractViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<h1>Create</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.ContractNumber" class="control-label"></label>
                <input asp-for="Contract.ContractNumber" class="form-control" />
                <span asp-validation-for="Contract.ContractNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Nif" class="control-label"></label>
                <input asp-for="Contract.Nif" class="form-control" />
                <span asp-validation-for="Contract.Nif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CustomerName" class="control-label"></label>
                <input asp-for="Contract.CustomerName" class="form-control" />
                <span asp-validation-for="Contract.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.StartDate" class="control-label"></label>
                <input asp-for="Contract.StartDate" class="form-control" />
                <span asp-validation-for="Contract.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.EndDate" class="control-label"></label>
                <input asp-for="Contract.EndDate" class="form-control" />
                <span asp-validation-for="Contract.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ContractDuration" class="control-label"></label>
                <input asp-for="Contract.ContractDuration" class="form-control" />
                <span asp-validation-for="Contract.ContractDuration" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.IsActive" /> @Html.DisplayNameFor(model => model.Contract.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
</div>

<hr />
@*-------------CUSTOMER----------------*@
<h1>Customer List</h1>

<table class="table" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                   @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}